body {
    background: linear-gradient(green, #fde8c0);
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

}

#edu {
    float: right;
}

.center {
    margin: auto;
    width: 50%;
}

#edmund {
    float: right;
    margin-left: 60px;


}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #fbf0dc;
    text-decoration: underline;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fbf0dc;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
